<h2>Template: Básicos</h2>
<hr>
<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" #myForm='ngForm' autocomplete="off">
      <!-- PRODUCTO -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9 ">
          <input ngModel name="producto" type="text" class="form-control" placeholder="Nombre del producto" required
            minlength="3">
          <span class="form-text text-danger" *ngIf="validateProductName()">Debe de ser de 3
            letras</span>
        </div>
      </div>
      <!-- PRECIO -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9 ">
          <input ngModel name="precio" type="number" class="form-control" placeholder="Precio del producto" required>
          <span class="form-text text-danger" *ngIf="validateProductPrice()">El precio debe tener un valor</span>
        </div>
      </div>
      <!-- EXISTENCIAS -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9 ">
          <input ngModel name="existencias" type="number" class="form-control" placeholder="Existencias del producto"
            required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{myForm.valid}}</pre>

    <span>Value</span>
    <pre>{{myForm.value | json}}</pre>
  </div>
</div>