<h2>Reactivos: <small>dinámicos</small></h2>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()" autocomplete="off">
  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input class="form-control" formControlName="nombre" placeholder="Nombre..." type="text">
      <span *ngIf="validarCampo('nombre')" class="form-text text-danger">Este campo es obligatorio</span>
    </div>
  </div>

  <!-- Agregar favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input (keyup.enter)="agregarJuego()" class="form-control" placeholder="Agregar juego favorito" type="text">
        <button class="btn btn-outline-primary" type="button" (click)="agregarJuego()">Agregar</button>
      </div>
    </div>
  </div>

  <!-- Listado de juegos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <!-- <div class="input-group mb-2" *ngFor="let juego of persona.favoritos; let i=index">
        <input class="form-control" >
        <button class="btn btn-outline-danger" (click)="eliminar(i)" type="button">Eliminar</button>
      </div> -->
    </div>
  </div>


  <div class="row">
    <div class="col">
      <button type="button" (click)="guardar()" class="btn btn-primary float-end">Guardar</button>
    </div>
  </div>
</form>

<!-- <span>Persona</span>
<pre>{{persona | json}}</pre> -->